Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -misc-include-cleaner,
  -misc-use-internal-linkage
WarningsAsErrors: '*'
HeaderFilterRegex: '^(src|include)/.*'
FormatStyle: file
CheckOptions:
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 'true'
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 'true'
